extends ./header.jade
block cuerpo
    body
        nav(class="navbar navbar-dark bg-dark fixed-top nav-menu")
            div( class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
                span.bar1
                span.bar2
                span.bar3
            div( class="collapse navbar-collapse" id="navbarToggleExternalContent")
                ul( class="navbar-nav mr-auto")
                    li( class="nav-item")
                        a( class="nav-link" href="/app/imagenes/new") Subir Imagen
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes") Mis Imagenes
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes/new_carousel") Nuevo Carousel
        <!--Menu Flotante-->
        .header-user.text-right.position-fixed        
            a(href="/app" title="Inicio")
                i.fab.fa-phoenix-framework.fa-1x
            a(href="javascript:" data-toggle="popover" data-container="body" data-placement="bottom"  data-html="true"  id="search") 
                i.fas.fa-search.fa-1x
            if USER.countRequestFriends>0
                a(href="javascript:" data-toggle="popover" data-container="body" data-placement="bottom"  data-html="true"  id="notifications_friends") 
                    span( class="badge badge-light notification-friends") #{USER.countRequestFriends}
                    i.fas.fa-users
            a(href="javascript:" data-toggle="modal" id="viewLocation" data-target="#exampleModal") 
                i.fas.fa-street-view.fa-1x
            a(href="/app/user/#{USER._id}") 
                span.header-user-text #{USER.nombres}  #{USER.apellidos}
                if USER.profile_img
                    img(  src="data:#{USER.profile_img.contentType};base64, #{USER.profile_img.data}" alt="#{USER.profile_img.name}" )
            a(href="javascript:" data-toggle="popover" data-container="body" data-placement="bottom"  data-html="true"  id="options") 
                i.fas.fa-angle-down.fa-1x
        <!--Usuarios Conectados-->
        .user-connected.position-fixed
            a(href="javascript:" id="control_chat")
                i.fas.fa-angle-double-right.fa-2x
            div( class="position-absolute content-conected" )
                include user_connect
        
        div(class=["container-fluid","container-private"] ,id="container_gap" )
            .row
                +columnXS(12,12,12,12,"")
                    block contenido
        <!--Busqueda de Usuarios-->
        div( id="popover-content-search" class="hide")
            .search-user
                form( class="form-inline" role="form")
                    input( id="txt_filter_search" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search")
                    i(class="fas fa-search" style="margin:0px 0px 0 -30px")
                    .result-users.list-group
        <!--Notificaciones de nuevos usuarios-->
        div( id="popover-content-notifications_friends" class="hide")
            if listSolicitudes
                .list-group.header-user_list
                    each solicitud, i in listSolicitudes
                        a(href="/app/user/#{solicitud.emisor._id}/view_sol" class="list-group-item.list-group-item-action" ) #{solicitud.emisor.nombres} quiere contactarse contigo
        <!--Opciones de Usuarios-->
        div( id="popover-content-options" class="hide")
            ul.nav.flex-column
                li.nav-item
                    a( class="nav-link active" href="/logout") Salir
                    
        <!-- Modal Map -->
        div( class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            div( class="modal-dialog modal-dialog-centered modal-lg" role="document")
                div( class="modal-content")
                    div( class="modal-body")
                            #map
        .container-chat
        
        
        