extends ./header.jade
block cuerpo
    body
        nav(class="navbar navbar-light bg-light fixed-top ")
            div( class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
                span.bar1
                span.bar2
                span.bar3
            div( class="collapse navbar-collapse" id="navbarToggleExternalContent" style="width:100%")
                ul( class="navbar-nav mr-auto mt-2 mt-lg-0")
                    li( class="nav-item")
                        a( class="nav-link" href="/app/imagenes/new") Subir Imagen
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes") Mis Imagenes
                
                    
        svg( width="100%" height="100")
            defs
                linearGradient(id="Gradient-1"  x1="50%"  y1="100%" x2="50%" y2="-5%" spreadMethod="pad")
                    stop(offset="0%" stop-color="#FFFFFF" stop-opacity="0") 
                    stop(offset="100%" stop-color="#000000" stop-opacity="1") 
            rect( x="0" y="0" width="100%" height="100" fill="url(#Gradient-1)" stroke="#333333" stroke-width="0px")    
        
        div(class=["container-fluid"] ,id="container_gap")
            .row
                +columnaAll(12,2,2,2,2,2,1,"bd-sidebar")
                    .panel.panel-default
                        .panel-heading
                            input( class="form-control" id="myInput" type="text" placeholder="Search..")
                        .panel-body
                             if listFriends
                                for friend in listFriends
                                    .sidebar-name
                                        - var tiempoConectado="";
                                        - var tiempo=0;
                                        if friend.receptor._id!=ID
                                            if friend.receptor.conected=="N" && friend.receptor.date_desconected
                                                - tiempo=friend.receptor.date_desconected.getTime();
                                        else if friend.emisor
                                            if friend.emisor.conected=="N" && friend.emisor.date_desconected
                                                - tiempo=friend.emisor.date_desconected.getTime();
                                        if tiempo > 0
                                            - var tiempoActual=(new Date()).getTime();
                                            - var tiempoMiliSe=tiempoActual-tiempo;
                                            - var tiempoSeg=tiempoMiliSe/1000;
                                            - tiempoSeg=tiempoSeg.toFixed(0);
                                            if tiempoSeg < 60
                                                - tiempoConectado=tiempoSeg+" seg";
                                            else
                                                - var tiempoMinutos=tiempoSeg/60;
                                                - tiempoMinutos=tiempoMinutos.toFixed(0);
                                                if tiempoMinutos < 60
                                                    - tiempoConectado=tiempoMinutos+" min";
                                                else
                                                    - var tiempoHoras=tiempoMinutos/60;
                                                    - tiempoHoras=tiempoHoras.toFixed(0);
                                                    if tiempoHoras < 24
                                                        - tiempoConectado=tiempoHoras+" h";
                                                    else
                                                        - var tiempoDias=tiempoHoras/24;
                                                        - tiempoDias=tiempoDias.toFixed(0);
                                                        if tiempoHoras < 7
                                                            - tiempoConectado=tiempoDias+" d";
                                                        else
                                                            - var tiempoSemanas=tiempoDias/7;
                                                            - tiempoSemanas=tiempoSemanas.toFixed(0);
                                                            if tiempoSemanas < 4
                                                                - tiempoConectado=tiempoSemanas+" sem";
                                                            else
                                                                - var tiempoMeses=tiempoSemanas/4;
                                                                - tiempoMeses=tiempoMeses.toFixed(0);
                                                                if tiempoMeses < 12
                                                                    - tiempoConectado=tiempoMeses+" meses";
                                                                else
                                                                    - var tiempoAnios=tiempoSemanas/12;
                                                                    - tiempoAnios=tiempoAnios.toFixed(0);
                                                                    - tiempoConectado=tiempoAnios+" años";
                                        if friend.receptor._id!=ID
                                            a(href="javascript:register_popup('#{friend.receptor._id}');")
                                                if friend.receptor.conected=="S"
                                                    button( type="button" class=["btn", "btn-success", "btn-circle","btn_cone"+"#{friend.receptor._id}"]  )
                                                else
                                                    button( type="button" class=["btn", "btn-default", "btn-circle","btn_cone"+"#{friend.receptor._id}"] )
                                                span( class=["glyphicon", "glyphicon-user"])
                                                span #{friend.receptor.username}
                                                span(class=["badge"] style="margin-left: 5px;font-size:8px;") 2
                                                if tiempoConectado!=""
                                                    div(class=["floatRight","timeConeccted"] style="margin-left: 5px;font-size:10px;") #{tiempoConectado}
                                                else
                                                    div(class=["floatRight","timeConeccted"] style="margin-left: 5px;font-size:10px;display:none") #{tiempoConectado}
                                        else if friend.emisor
                                            a(href="javascript:register_popup('#{friend.emisor._id}');")
                                                if friend.emisor.conected=="S"
                                                    button( type="button" class=["btn", "btn-success", "btn-circle","btn_cone"+"#{friend.emisor._id}"]  )
                                                else
                                                    button( type="button" class=["btn", "btn-default", "btn-circle","btn_cone"+"#{friend.emisor._id}"] )
                                                span( class=["glyphicon", "glyphicon-user"])
                                                span #{friend.emisor.username}
                                                span(class=["badge"] style="margin-left: 5px;font-size:8px;") 2
                                                if tiempoConectado!=""
                                                    div(class=["floatRight","timeConeccted"] style="margin-left: 5px;font-size:10px;") #{tiempoConectado}
                                                else
                                                    div(class=["floatRight","timeConeccted"] style="margin-left: 5px;font-size:10px;display:none") #{tiempoConectado}        
                            
                    if USER
                        include chat
                +columnaAll(12,10,10,10,10,4,5,"bd-content")
                    block contenido
        nav( class="navbar fixed-bottom navbar-light bg-light")
            a( class="navbar-brand" href="/app") Inicio
            ul( class="nav navbar-nav navbar-right")        
                span.navbar-text #{USER.nombres}  #{USER.apellidos}
                li( class="nav-item")
                    a( class="nav-link " href="/logout") Salir
                
            
            
        script(id="user_connect" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
            .sidebar-name
                a(href="javascript:register_popup('{{_id}}');")
                    if conected=="S"
                        button( type="button" class=["btn", "btn-success", "btn-circle","btn_cone"+"{{_id}}"]  )
                    else
                        button( type="button" class=["btn", "btn-default", "btn-circle","btn_cone"+"{{_id}}"] )
                    span( class=["glyphicon", "glyphicon-user"])
                    span {{username}}
                    span(class=["badge"] style="margin-left: 5px;font-size:8px;") 2     
                    div(class=["floatRight","timeConeccted"] style="margin-left: 5px;font-size:10px;") {{tiempo_current}}
            

                
