extends ../../layout.jade
block contenido
    h1 Imagenes
    if imagenes
        for imagen in imagenes
            .row
                .col-md-4
                    h2=imagen.titulo
                .col-md-6
                    img(src="/docs/imagenes/#{imagen._id}.#{imagen.extension}")
                .col-md-2
                    a(href="/app/imagenes/#{imagen._id}/edit" class="right-space") Editar
                    form(action="/app/imagenes/#{imagen._id}?_method=DELETE",class="link", method="POST")
                        
                        input( type="submit",value="Eliminar") 
