extends ../../layout.jade
block contenido
    h1 Archivo #{imagen.titulo}
    h1 Archivo #{imagen._id}
    h1 Archivo #{imagen.extension}
    img(src="/docs/imagenes/#{imagen._id}.#{imagen.extension}")
    if(typeof imagen.creator!="undefined")
        p por #{imagen.creator.email}