extends ../layout.jade
block contenido
    if imagenes
        section( class="demos")
            each imagen, i in imagenes
                div( class="demo-image" style="background-image: url('/docs/imagenes/#{imagen._id}.#{imagen.extension}')" data-image="/docs/imagenes/#{imagen._id}.#{imagen.extension}" data-title="#{imagen.titulo}" data-caption="por #{imagen.creator.email}")
        
    
        