extends ../layout.jade
block contenido
    div(id="container")
        if imagenes
            for imagen in imagenes
                div(class="img-container")
                    a(href="/app/imagenes/#{imagen._id}")
                        h2 #{imagen.titulo}
                    img(src="/docs/imagenes/#{imagen._id}.#{imagen.extension}", class="img-responsive")
                    if(typeof imagen.creator!="undefined")
                        p por #{imagen.creator.email}
    script(id="image-template" type="text/x-handlebars-template" src="/docs/js/client.js")    
         div(class="img-container")
            a(href="/app/imagenes/{{id}}")
                h2 {{titulo}}
            img(src="/docs/imagenes/{{id}}.{{extension}}", class="img-thumbnail")
            p por {{creator.email}} 